BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001_initial_schema

CREATE TYPE profiletype AS ENUM ('personal', 'family', 'business');

CREATE TYPE securitylevel AS ENUM ('standard', 'high_security');

CREATE TYPE scopetype AS ENUM ('user', 'profile', 'multi_profile');

CREATE TYPE accounttype AS ENUM ('checking', 'savings', 'credit_card', 'investment', 'cash', 'loan', 'mortgage', 'other');

CREATE TYPE transactiontype AS ENUM ('bank_transfer', 'withdrawal', 'payment', 'purchase', 'internal_transfer', 'income', 'salary', 'invoice', 'asset_purchase', 'asset_sale', 'dividend', 'interest', 'loan_payment', 'refund', 'fee', 'tax', 'other');

CREATE TYPE transactionsource AS ENUM ('manual', 'import_csv', 'import_ocr', 'import_api', 'recurring', 'bank_sync');

CREATE TYPE assettype AS ENUM ('real_estate', 'vehicle', 'precious_metal', 'stock', 'bond', 'fund', 'etf', 'crypto', 'artwork', 'jewelry', 'watch', 'other');

CREATE TYPE valuationmethod AS ENUM ('market_quote', 'range', 'comparative', 'manual', 'appraisal');

CREATE TYPE amountmodel AS ENUM ('fixed', 'variable_within_range', 'progressive', 'seasonal', 'formula');

CREATE TYPE frequency AS ENUM ('daily', 'weekly', 'biweekly', 'monthly', 'quarterly', 'semiannually', 'yearly', 'custom');

CREATE TYPE occurrencestatus AS ENUM ('pending', 'executed', 'skipped', 'overridden', 'failed');

CREATE TYPE periodtype AS ENUM ('daily', 'weekly', 'monthly', 'quarterly', 'yearly', 'custom');

CREATE TYPE goaltype AS ENUM ('house', 'car', 'vacation', 'retirement', 'emergency_fund', 'education', 'investment', 'debt_payoff', 'custom');

CREATE TYPE goalstatus AS ENUM ('active', 'completed', 'paused', 'cancelled', 'failed');

CREATE TYPE importtype AS ENUM ('csv', 'excel', 'ofx', 'qif', 'pdf', 'ocr_receipt', 'ocr_invoice', 'ocr_contract', 'bank_api');

CREATE TYPE importstatus AS ENUM ('pending', 'processing', 'completed', 'failed', 'partial');

CREATE TYPE documenttype AS ENUM ('receipt', 'invoice', 'contract', 'bank_statement', 'tax_document', 'insurance', 'other');

CREATE TYPE eventtype AS ENUM ('access', 'security', 'financial_op', 'ai_interaction', 'system', 'user_action', 'data_export');

CREATE TYPE severitylevel AS ENUM ('info', 'warning', 'error', 'critical');

CREATE TYPE messagerole AS ENUM ('user', 'assistant', 'system');

CREATE TYPE tagtype AS ENUM ('contextual', 'functional', 'temporal', 'emotional', 'custom');

CREATE TYPE notificationtype AS ENUM ('budget_alert', 'goal_milestone', 'recurring_reminder', 'anomaly_detected', 'optimization_suggestion', 'security_alert', 'report_ready', 'general');

CREATE TYPE notificationstatus AS ENUM ('unread', 'read', 'archived', 'dismissed');

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    full_name VARCHAR(255), 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    is_verified BOOLEAN DEFAULT false NOT NULL, 
    two_factor_enabled BOOLEAN DEFAULT false NOT NULL, 
    two_factor_secret VARCHAR(255), 
    preferred_language VARCHAR(10) DEFAULT 'it' NOT NULL, 
    timezone VARCHAR(50) DEFAULT 'Europe/Rome' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    last_login_at TIMESTAMP WITH TIME ZONE, 
    last_login_ip VARCHAR(45), 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_email_active ON users (email, is_active);

CREATE TYPE profiletype AS ENUM ('personal', 'family', 'business');

CREATE TYPE securitylevel AS ENUM ('standard', 'high_security');

CREATE TABLE financial_profiles (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    profile_type profiletype DEFAULT 'personal' NOT NULL, 
    security_level securitylevel DEFAULT 'standard' NOT NULL, 
    encryption_salt VARCHAR(255), 
    default_currency VARCHAR(3) DEFAULT 'EUR' NOT NULL, 
    description TEXT, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    is_default BOOLEAN DEFAULT false NOT NULL, 
    color_code VARCHAR(7), 
    icon VARCHAR(50), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_financial_profiles_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_financial_profiles_user_name UNIQUE (user_id, name)
);

CREATE INDEX ix_financial_profiles_user_id ON financial_profiles (user_id);

ALTER TABLE financial_profiles ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY financial_profiles_isolation_policy ON financial_profiles
        USING (user_id = current_setting('app.current_user_id')::uuid);;

CREATE TABLE user_preferences (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    theme VARCHAR(20) DEFAULT 'light' NOT NULL, 
    notification_email BOOLEAN DEFAULT true NOT NULL, 
    notification_push BOOLEAN DEFAULT true NOT NULL, 
    notification_in_app BOOLEAN DEFAULT true NOT NULL, 
    ai_proactivity_level VARCHAR(20) DEFAULT 'moderate' NOT NULL, 
    ml_training_consent BOOLEAN DEFAULT false NOT NULL, 
    data_sharing_consent BOOLEAN DEFAULT false NOT NULL, 
    dashboard_layout JSONB, 
    custom_settings JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_user_preferences_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    UNIQUE (user_id)
);

CREATE TABLE categories (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    description TEXT, 
    icon VARCHAR(50), 
    color VARCHAR(7), 
    is_income BOOLEAN DEFAULT false NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    is_system BOOLEAN DEFAULT false NOT NULL, 
    sort_order INTEGER DEFAULT 0 NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_categories_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_categories_user_name UNIQUE (user_id, name)
);

CREATE INDEX ix_categories_user_id ON categories (user_id);

ALTER TABLE categories ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY categories_user_isolation ON categories
        USING (user_id = current_setting('app.current_user_id')::uuid);;

CREATE TABLE category_profile_preferences (
    category_id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    is_visible BOOLEAN DEFAULT true NOT NULL, 
    custom_name VARCHAR(100), 
    custom_color VARCHAR(7), 
    custom_icon VARCHAR(50), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (category_id, financial_profile_id), 
    CONSTRAINT fk_category_profile_prefs_category_id FOREIGN KEY(category_id) REFERENCES categories (id) ON DELETE CASCADE, 
    CONSTRAINT fk_category_profile_prefs_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE
);

CREATE TABLE merchants (
    id UUID NOT NULL, 
    canonical_name VARCHAR(255) NOT NULL, 
    aliases VARCHAR(255)[], 
    website VARCHAR(255), 
    logo_url VARCHAR(500), 
    vat_number VARCHAR(50), 
    is_verified BOOLEAN DEFAULT false NOT NULL, 
    usage_count INTEGER DEFAULT 0 NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (canonical_name)
);

CREATE INDEX ix_merchants_canonical_name ON merchants (canonical_name);

CREATE INDEX ix_merchants_aliases ON merchants USING gin (aliases);

CREATE TYPE tagtype AS ENUM ('contextual', 'functional', 'temporal', 'emotional', 'custom');

CREATE TABLE tags (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    tag_type tagtype DEFAULT 'custom' NOT NULL, 
    color VARCHAR(7), 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_tags_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_tags_user_name UNIQUE (user_id, name)
);

CREATE INDEX ix_tags_user_id ON tags (user_id);

ALTER TABLE tags ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY tags_user_isolation ON tags
        USING (user_id = current_setting('app.current_user_id')::uuid);;

CREATE TYPE accounttype AS ENUM ('checking', 'savings', 'credit_card', 'investment', 'cash', 'loan', 'mortgage', 'other');

CREATE TABLE accounts (
    id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    account_type accounttype NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    initial_balance NUMERIC(15, 2) DEFAULT 0 NOT NULL, 
    current_balance NUMERIC(15, 2) DEFAULT 0 NOT NULL, 
    credit_limit NUMERIC(15, 2), 
    interest_rate NUMERIC(5, 2), 
    institution_name VARCHAR(255), 
    account_number_last4 VARCHAR(4), 
    iban VARCHAR(34), 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    is_included_in_totals BOOLEAN DEFAULT true NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_accounts_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE, 
    CONSTRAINT uq_accounts_profile_name UNIQUE (financial_profile_id, name)
);

CREATE INDEX ix_accounts_financial_profile_id ON accounts (financial_profile_id);

ALTER TABLE accounts ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY accounts_isolation_policy ON accounts
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TABLE exchange_rates (
    id UUID NOT NULL, 
    base_currency VARCHAR(3) NOT NULL, 
    target_currency VARCHAR(3) NOT NULL, 
    rate NUMERIC(18, 8) NOT NULL, 
    rate_date DATE NOT NULL, 
    source VARCHAR(50) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_exchange_rates_currencies_date UNIQUE (base_currency, target_currency, rate_date)
);

CREATE INDEX ix_exchange_rates_currencies_date ON exchange_rates (base_currency, target_currency, rate_date);

CREATE TYPE transactiontype AS ENUM ('bank_transfer', 'withdrawal', 'payment', 'purchase', 'internal_transfer', 'income', 'salary', 'invoice', 'asset_purchase', 'asset_sale', 'dividend', 'interest', 'loan_payment', 'refund', 'fee', 'tax', 'other');

CREATE TYPE amountmodel AS ENUM ('fixed', 'variable_within_range', 'progressive', 'seasonal', 'formula');

CREATE TYPE frequency AS ENUM ('daily', 'weekly', 'biweekly', 'monthly', 'quarterly', 'semiannually', 'yearly', 'custom');

CREATE TABLE recurring_transactions (
    id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    account_id UUID NOT NULL, 
    category_id UUID, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    transaction_type transactiontype NOT NULL, 
    amount_model amountmodel DEFAULT 'fixed' NOT NULL, 
    base_amount NUMERIC(15, 2) NOT NULL, 
    amount_min NUMERIC(15, 2), 
    amount_max NUMERIC(15, 2), 
    formula TEXT, 
    currency VARCHAR(3) NOT NULL, 
    frequency frequency NOT NULL, 
    interval INTEGER DEFAULT 1 NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE, 
    next_occurrence_date DATE, 
    auto_create BOOLEAN DEFAULT false NOT NULL, 
    notification_days_before INTEGER DEFAULT 3 NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_recurring_transactions_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE, 
    CONSTRAINT fk_recurring_transactions_account_id FOREIGN KEY(account_id) REFERENCES accounts (id) ON DELETE CASCADE, 
    CONSTRAINT fk_recurring_transactions_category_id FOREIGN KEY(category_id) REFERENCES categories (id) ON DELETE SET NULL
);

CREATE INDEX ix_recurring_transactions_financial_profile_id ON recurring_transactions (financial_profile_id);

ALTER TABLE recurring_transactions ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY recurring_transactions_isolation_policy ON recurring_transactions
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TABLE transactions (
            id UUID PRIMARY KEY,
            financial_profile_id UUID NOT NULL,
            account_id UUID NOT NULL,
            category_id UUID,
            merchant_id UUID,
            recurring_transaction_id UUID,
            related_transaction_id UUID,
            transaction_date DATE NOT NULL,
            transaction_type transactiontype NOT NULL,
            source transactionsource NOT NULL DEFAULT 'manual',
            amount TEXT NOT NULL,
            amount_clear NUMERIC(15,2) NOT NULL,
            currency VARCHAR(3) NOT NULL,
            exchange_rate NUMERIC(18,8),
            amount_in_profile_currency NUMERIC(15,2) NOT NULL,
            description TEXT,
            description_clear VARCHAR(255),
            merchant_name VARCHAR(255),
            notes TEXT,
            is_reconciled BOOLEAN NOT NULL DEFAULT false,
            receipt_url VARCHAR(500),
            is_duplicate BOOLEAN NOT NULL DEFAULT false,
            duplicate_of_id UUID,
            import_job_id UUID,
            external_id VARCHAR(255),
            metadata JSONB,
            created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
            updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
            FOREIGN KEY (financial_profile_id) REFERENCES financial_profiles(id) ON DELETE CASCADE,
            FOREIGN KEY (account_id) REFERENCES accounts(id) ON DELETE CASCADE,
            FOREIGN KEY (category_id) REFERENCES categories(id) ON DELETE SET NULL,
            FOREIGN KEY (merchant_id) REFERENCES merchants(id) ON DELETE SET NULL,
            FOREIGN KEY (recurring_transaction_id) REFERENCES recurring_transactions(id) ON DELETE SET NULL,
            FOREIGN KEY (related_transaction_id) REFERENCES transactions(id) ON DELETE SET NULL,
            FOREIGN KEY (duplicate_of_id) REFERENCES transactions(id) ON DELETE SET NULL
        ) PARTITION BY RANGE (transaction_date);
        
        CREATE INDEX ix_transactions_profile_date ON transactions(financial_profile_id, transaction_date);
        CREATE INDEX ix_transactions_account_date ON transactions(account_id, transaction_date);
        CREATE INDEX ix_transactions_category ON transactions(category_id);
        CREATE INDEX ix_transactions_merchant ON transactions(merchant_id);
        CREATE INDEX ix_transactions_date ON transactions(transaction_date);;

CREATE TABLE transactions_2024 PARTITION OF transactions
        FOR VALUES FROM ('2024-01-01') TO ('2025-01-01');
        
        CREATE TABLE transactions_2025 PARTITION OF transactions
        FOR VALUES FROM ('2025-01-01') TO ('2026-01-01');
        
        CREATE TABLE transactions_2026 PARTITION OF transactions
        FOR VALUES FROM ('2026-01-01') TO ('2027-01-01');;

ALTER TABLE transactions ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY transactions_isolation_policy ON transactions
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TYPE occurrencestatus AS ENUM ('pending', 'executed', 'skipped', 'overridden', 'failed');

CREATE TABLE recurring_transaction_occurrences (
    id UUID NOT NULL, 
    recurring_transaction_id UUID NOT NULL, 
    transaction_id UUID, 
    scheduled_date DATE NOT NULL, 
    expected_amount NUMERIC(15, 2) NOT NULL, 
    actual_amount NUMERIC(15, 2), 
    status occurrencestatus DEFAULT 'pending' NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_recurring_occurrences_recurring_transaction_id FOREIGN KEY(recurring_transaction_id) REFERENCES recurring_transactions (id) ON DELETE CASCADE
);

CREATE INDEX ix_recurring_transaction_occurrences_recurring_transaction_id ON recurring_transaction_occurrences (recurring_transaction_id);

CREATE TABLE transaction_tags (
    transaction_id UUID NOT NULL, 
    tag_id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (transaction_id, tag_id), 
    CONSTRAINT fk_transaction_tags_tag_id FOREIGN KEY(tag_id) REFERENCES tags (id) ON DELETE CASCADE
);

CREATE TYPE scopetype AS ENUM ('user', 'profile', 'multi_profile');

CREATE TYPE periodtype AS ENUM ('daily', 'weekly', 'monthly', 'quarterly', 'yearly', 'custom');

CREATE TABLE budgets (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    scope_type scopetype DEFAULT 'user' NOT NULL, 
    scope_profile_ids UUID[], 
    period_type periodtype DEFAULT 'monthly' NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE, 
    total_amount NUMERIC(15, 2) NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    rollover_enabled BOOLEAN DEFAULT false NOT NULL, 
    alert_threshold_percent INTEGER DEFAULT 80 NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_budgets_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_budgets_user_id ON budgets (user_id);

ALTER TABLE budgets ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY budgets_user_isolation ON budgets
        USING (user_id = current_setting('app.current_user_id')::uuid);;

CREATE TABLE budget_categories (
    id UUID NOT NULL, 
    budget_id UUID NOT NULL, 
    category_id UUID NOT NULL, 
    allocated_amount NUMERIC(15, 2) NOT NULL, 
    spent_amount NUMERIC(15, 2) DEFAULT 0 NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_budget_categories_budget_id FOREIGN KEY(budget_id) REFERENCES budgets (id) ON DELETE CASCADE, 
    CONSTRAINT fk_budget_categories_category_id FOREIGN KEY(category_id) REFERENCES categories (id) ON DELETE CASCADE, 
    CONSTRAINT uq_budget_categories_budget_category UNIQUE (budget_id, category_id)
);

CREATE INDEX ix_budget_categories_budget_id ON budget_categories (budget_id);

CREATE TYPE goaltype AS ENUM ('house', 'car', 'vacation', 'retirement', 'emergency_fund', 'education', 'investment', 'debt_payoff', 'custom');

CREATE TYPE goalstatus AS ENUM ('active', 'completed', 'paused', 'cancelled', 'failed');

CREATE TABLE financial_goals (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    scope_type scopetype DEFAULT 'user' NOT NULL, 
    scope_profile_ids UUID[], 
    linked_account_id UUID, 
    goal_type goaltype NOT NULL, 
    description TEXT, 
    target_amount NUMERIC(15, 2) NOT NULL, 
    current_amount NUMERIC(15, 2) DEFAULT 0 NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    start_date DATE NOT NULL, 
    target_date DATE NOT NULL, 
    monthly_contribution NUMERIC(15, 2), 
    auto_allocate BOOLEAN DEFAULT false NOT NULL, 
    priority INTEGER DEFAULT 5 NOT NULL, 
    status goalstatus DEFAULT 'active' NOT NULL, 
    achievement_probability NUMERIC(5, 2), 
    gamification_points INTEGER DEFAULT 0 NOT NULL, 
    milestones JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_financial_goals_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT fk_financial_goals_linked_account_id FOREIGN KEY(linked_account_id) REFERENCES accounts (id) ON DELETE SET NULL
);

CREATE INDEX ix_financial_goals_user_id ON financial_goals (user_id);

ALTER TABLE financial_goals ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY financial_goals_user_isolation ON financial_goals
        USING (user_id = current_setting('app.current_user_id')::uuid);;

CREATE TABLE goal_contributions (
    id UUID NOT NULL, 
    goal_id UUID NOT NULL, 
    transaction_id UUID, 
    amount NUMERIC(15, 2) NOT NULL, 
    contribution_date DATE NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_goal_contributions_goal_id FOREIGN KEY(goal_id) REFERENCES financial_goals (id) ON DELETE CASCADE
);

CREATE INDEX ix_goal_contributions_goal_id ON goal_contributions (goal_id);

CREATE TYPE assettype AS ENUM ('real_estate', 'vehicle', 'precious_metal', 'stock', 'bond', 'fund', 'etf', 'crypto', 'artwork', 'jewelry', 'watch', 'other');

CREATE TYPE valuationmethod AS ENUM ('market_quote', 'range', 'comparative', 'manual', 'appraisal');

CREATE TABLE assets (
    id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    asset_type assettype NOT NULL, 
    purchase_date DATE, 
    purchase_price NUMERIC(15, 2), 
    purchase_transaction_id UUID, 
    current_value NUMERIC(15, 2) NOT NULL, 
    current_value_min NUMERIC(15, 2), 
    current_value_max NUMERIC(15, 2), 
    valuation_method valuationmethod DEFAULT 'manual' NOT NULL, 
    last_valuation_date DATE, 
    currency VARCHAR(3) NOT NULL, 
    is_liquid BOOLEAN DEFAULT false NOT NULL, 
    quantity NUMERIC(18, 8), 
    ticker_symbol VARCHAR(20), 
    notes TEXT, 
    metadata JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_assets_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE
);

CREATE INDEX ix_assets_financial_profile_id ON assets (financial_profile_id);

ALTER TABLE assets ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY assets_isolation_policy ON assets
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TABLE asset_valuations (
    id UUID NOT NULL, 
    asset_id UUID NOT NULL, 
    valuation_date DATE NOT NULL, 
    value NUMERIC(15, 2) NOT NULL, 
    value_min NUMERIC(15, 2), 
    value_max NUMERIC(15, 2), 
    valuation_method valuationmethod NOT NULL, 
    source VARCHAR(100), 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_asset_valuations_asset_id FOREIGN KEY(asset_id) REFERENCES assets (id) ON DELETE CASCADE
);

CREATE INDEX ix_asset_valuations_asset_id ON asset_valuations (asset_id);

CREATE TYPE documenttype AS ENUM ('receipt', 'invoice', 'contract', 'bank_statement', 'tax_document', 'insurance', 'other');

CREATE TABLE documents (
    id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    transaction_id UUID, 
    document_type documenttype NOT NULL, 
    file_name VARCHAR(255) NOT NULL, 
    file_path VARCHAR(500) NOT NULL, 
    file_size INTEGER NOT NULL, 
    mime_type VARCHAR(100) NOT NULL, 
    file_hash VARCHAR(64) NOT NULL, 
    ocr_processed BOOLEAN DEFAULT false NOT NULL, 
    ocr_text TEXT, 
    extracted_data JSONB, 
    confidence_score NUMERIC(5, 4), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_documents_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE
);

CREATE INDEX ix_documents_financial_profile_id ON documents (financial_profile_id);

ALTER TABLE documents ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY documents_isolation_policy ON documents
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TYPE importtype AS ENUM ('csv', 'excel', 'ofx', 'qif', 'pdf', 'ocr_receipt', 'ocr_invoice', 'ocr_contract', 'bank_api');

CREATE TYPE importstatus AS ENUM ('pending', 'processing', 'completed', 'failed', 'partial');

CREATE TABLE import_jobs (
    id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    account_id UUID, 
    file_name VARCHAR(255) NOT NULL, 
    file_path VARCHAR(500) NOT NULL, 
    import_type importtype NOT NULL, 
    status importstatus DEFAULT 'pending' NOT NULL, 
    total_rows INTEGER, 
    processed_rows INTEGER, 
    successful_imports INTEGER, 
    failed_imports INTEGER, 
    skipped_duplicates INTEGER, 
    error_message TEXT, 
    error_details JSONB, 
    mapping_config JSONB, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_import_jobs_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE, 
    CONSTRAINT fk_import_jobs_account_id FOREIGN KEY(account_id) REFERENCES accounts (id) ON DELETE SET NULL
);

CREATE INDEX ix_import_jobs_financial_profile_id ON import_jobs (financial_profile_id);

ALTER TABLE import_jobs ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY import_jobs_isolation_policy ON import_jobs
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TABLE bank_conditions (
    id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    account_id UUID, 
    institution_name VARCHAR(255) NOT NULL, 
    document_id UUID, 
    effective_date DATE NOT NULL, 
    interest_rate NUMERIC(5, 2), 
    annual_fee NUMERIC(10, 2), 
    transaction_fees JSONB, 
    conditions_summary TEXT, 
    full_conditions JSONB, 
    changes_from_previous TEXT, 
    annual_cost_estimate NUMERIC(10, 2), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_bank_conditions_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE, 
    CONSTRAINT fk_bank_conditions_account_id FOREIGN KEY(account_id) REFERENCES accounts (id) ON DELETE SET NULL, 
    CONSTRAINT fk_bank_conditions_document_id FOREIGN KEY(document_id) REFERENCES documents (id) ON DELETE SET NULL
);

CREATE INDEX ix_bank_conditions_financial_profile_id ON bank_conditions (financial_profile_id);

ALTER TABLE bank_conditions ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY bank_conditions_isolation_policy ON bank_conditions
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TABLE ml_classification_logs (
    id UUID NOT NULL, 
    transaction_id UUID, 
    financial_profile_id UUID NOT NULL, 
    original_description TEXT NOT NULL, 
    suggested_category_id UUID, 
    suggested_merchant_id UUID, 
    suggested_tags VARCHAR(50)[], 
    confidence_score NUMERIC(5, 4) NOT NULL, 
    model_name VARCHAR(100) NOT NULL, 
    model_version VARCHAR(50) NOT NULL, 
    features_used JSONB, 
    explanation TEXT, 
    was_accepted BOOLEAN, 
    actual_category_id UUID, 
    user_feedback TEXT, 
    processing_time_ms INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_ml_classification_logs_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE, 
    CONSTRAINT fk_ml_classification_logs_suggested_category_id FOREIGN KEY(suggested_category_id) REFERENCES categories (id) ON DELETE SET NULL, 
    CONSTRAINT fk_ml_classification_logs_suggested_merchant_id FOREIGN KEY(suggested_merchant_id) REFERENCES merchants (id) ON DELETE SET NULL, 
    CONSTRAINT fk_ml_classification_logs_actual_category_id FOREIGN KEY(actual_category_id) REFERENCES categories (id) ON DELETE SET NULL
);

CREATE INDEX ix_ml_classification_logs_financial_profile_id ON ml_classification_logs (financial_profile_id);

CREATE INDEX ix_ml_classification_logs_transaction_id ON ml_classification_logs (transaction_id);

ALTER TABLE ml_classification_logs ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY ml_classification_logs_isolation_policy ON ml_classification_logs
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TABLE predictions (
    id UUID NOT NULL, 
    financial_profile_id UUID NOT NULL, 
    prediction_type VARCHAR(50) NOT NULL, 
    category_id UUID, 
    prediction_date DATE NOT NULL, 
    predicted_amount NUMERIC(15, 2) NOT NULL, 
    confidence_interval_min NUMERIC(15, 2), 
    confidence_interval_max NUMERIC(15, 2), 
    confidence_level NUMERIC(5, 2), 
    model_name VARCHAR(100) NOT NULL, 
    model_version VARCHAR(50) NOT NULL, 
    features_used JSONB, 
    actual_amount NUMERIC(15, 2), 
    error NUMERIC(15, 2), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_predictions_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE CASCADE, 
    CONSTRAINT fk_predictions_category_id FOREIGN KEY(category_id) REFERENCES categories (id) ON DELETE SET NULL
);

CREATE INDEX ix_predictions_financial_profile_id ON predictions (financial_profile_id);

CREATE INDEX ix_predictions_profile_date ON predictions (financial_profile_id, prediction_date);

ALTER TABLE predictions ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY predictions_isolation_policy ON predictions
        USING (financial_profile_id IN (
            SELECT id FROM financial_profiles WHERE user_id = current_setting('app.current_user_id')::uuid
        ));;

CREATE TABLE ai_recommendations (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    scope_type scopetype DEFAULT 'user' NOT NULL, 
    scope_profile_ids UUID[], 
    recommendation_type VARCHAR(100) NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT NOT NULL, 
    potential_savings NUMERIC(15, 2), 
    priority INTEGER DEFAULT 5 NOT NULL, 
    confidence_score NUMERIC(5, 4) NOT NULL, 
    related_entity_type VARCHAR(50), 
    related_entity_id UUID, 
    action_items JSONB, 
    is_dismissed BOOLEAN DEFAULT false NOT NULL, 
    is_implemented BOOLEAN DEFAULT false NOT NULL, 
    user_feedback TEXT, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_ai_recommendations_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_ai_recommendations_user_id ON ai_recommendations (user_id);

ALTER TABLE ai_recommendations ENABLE ROW LEVEL SECURITY;
        
        CREATE POLICY ai_recommendations_user_isolation ON ai_recommendations
        USING (user_id = current_setting('app.current_user_id')::uuid);;

CREATE TABLE chat_conversations (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    financial_profile_id UUID, 
    title VARCHAR(255), 
    summary TEXT, 
    is_archived BOOLEAN DEFAULT false NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_chat_conversations_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT fk_chat_conversations_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE SET NULL
);

CREATE INDEX ix_chat_conversations_user_id ON chat_conversations (user_id);

CREATE TYPE messagerole AS ENUM ('user', 'assistant', 'system');

CREATE TABLE chat_messages (
    id UUID NOT NULL, 
    conversation_id UUID NOT NULL, 
    role messagerole NOT NULL, 
    content TEXT NOT NULL, 
    tokens_used INTEGER, 
    model_name VARCHAR(100), 
    processing_time_ms INTEGER, 
    metadata JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_chat_messages_conversation_id FOREIGN KEY(conversation_id) REFERENCES chat_conversations (id) ON DELETE CASCADE
);

CREATE INDEX ix_chat_messages_conversation_id ON chat_messages (conversation_id);

CREATE TYPE notificationtype AS ENUM ('budget_alert', 'goal_milestone', 'recurring_reminder', 'anomaly_detected', 'optimization_suggestion', 'security_alert', 'report_ready', 'general');

CREATE TYPE notificationstatus AS ENUM ('unread', 'read', 'archived', 'dismissed');

CREATE TABLE notifications (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    financial_profile_id UUID, 
    notification_type notificationtype NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    message TEXT NOT NULL, 
    status notificationstatus DEFAULT 'unread' NOT NULL, 
    priority INTEGER DEFAULT 5 NOT NULL, 
    action_url VARCHAR(500), 
    related_entity_type VARCHAR(50), 
    related_entity_id UUID, 
    sent_via_email BOOLEAN DEFAULT false NOT NULL, 
    sent_via_push BOOLEAN DEFAULT false NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    read_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_notifications_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT fk_notifications_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE SET NULL
);

CREATE INDEX ix_notifications_user_id ON notifications (user_id);

CREATE INDEX ix_notifications_user_status ON notifications (user_id, status);

CREATE TYPE eventtype AS ENUM ('access', 'security', 'financial_op', 'ai_interaction', 'system', 'user_action', 'data_export');

CREATE TYPE severitylevel AS ENUM ('info', 'warning', 'error', 'critical');

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    user_id UUID, 
    financial_profile_id UUID, 
    event_type eventtype NOT NULL, 
    severity severitylevel DEFAULT 'info' NOT NULL, 
    action VARCHAR(100) NOT NULL, 
    entity_type VARCHAR(50), 
    entity_id UUID, 
    old_values JSONB, 
    new_values JSONB, 
    ip_address VARCHAR(45), 
    user_agent VARCHAR(500), 
    device_info JSONB, 
    geolocation VARCHAR(100), 
    session_id VARCHAR(255), 
    request_id VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_audit_logs_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL, 
    CONSTRAINT fk_audit_logs_financial_profile_id FOREIGN KEY(financial_profile_id) REFERENCES financial_profiles (id) ON DELETE SET NULL
);

CREATE INDEX ix_audit_logs_user_id ON audit_logs (user_id);

CREATE INDEX ix_audit_logs_created_at ON audit_logs (created_at);

CREATE INDEX ix_audit_logs_event_type ON audit_logs (event_type);

CREATE INDEX ix_audit_logs_user_created ON audit_logs (user_id, created_at);

CREATE INDEX ix_audit_logs_profile_created ON audit_logs (financial_profile_id, created_at);

CREATE INDEX ix_audit_logs_event_type_created ON audit_logs (event_type, created_at);

CREATE OR REPLACE FUNCTION update_updated_at_column()
        RETURNS TRIGGER AS $$
        BEGIN
            NEW.updated_at = NOW();
            RETURN NEW;
        END;
        $$ LANGUAGE plpgsql;;

CREATE TRIGGER update_users_updated_at
            BEFORE UPDATE ON users
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_financial_profiles_updated_at
            BEFORE UPDATE ON financial_profiles
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_user_preferences_updated_at
            BEFORE UPDATE ON user_preferences
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_categories_updated_at
            BEFORE UPDATE ON categories
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_category_profile_preferences_updated_at
            BEFORE UPDATE ON category_profile_preferences
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_merchants_updated_at
            BEFORE UPDATE ON merchants
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_tags_updated_at
            BEFORE UPDATE ON tags
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_accounts_updated_at
            BEFORE UPDATE ON accounts
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_recurring_transactions_updated_at
            BEFORE UPDATE ON recurring_transactions
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_transactions_updated_at
            BEFORE UPDATE ON transactions
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_recurring_transaction_occurrences_updated_at
            BEFORE UPDATE ON recurring_transaction_occurrences
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_budgets_updated_at
            BEFORE UPDATE ON budgets
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_budget_categories_updated_at
            BEFORE UPDATE ON budget_categories
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_financial_goals_updated_at
            BEFORE UPDATE ON financial_goals
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_assets_updated_at
            BEFORE UPDATE ON assets
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_documents_updated_at
            BEFORE UPDATE ON documents
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_import_jobs_updated_at
            BEFORE UPDATE ON import_jobs
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_bank_conditions_updated_at
            BEFORE UPDATE ON bank_conditions
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_chat_conversations_updated_at
            BEFORE UPDATE ON chat_conversations
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE TRIGGER update_ai_recommendations_updated_at
            BEFORE UPDATE ON ai_recommendations
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();;

CREATE OR REPLACE FUNCTION create_transaction_partition()
        RETURNS trigger AS $$
        DECLARE
            partition_date DATE;
            partition_name TEXT;
            start_date TEXT;
            end_date TEXT;
        BEGIN
            partition_date := DATE_TRUNC('year', NEW.transaction_date);
            partition_name := 'transactions_' || TO_CHAR(partition_date, 'YYYY');
            start_date := TO_CHAR(partition_date, 'YYYY-MM-DD');
            end_date := TO_CHAR(partition_date + INTERVAL '1 year', 'YYYY-MM-DD');
            
            IF NOT EXISTS (
                SELECT 1 FROM pg_tables WHERE tablename = partition_name
            ) THEN
                EXECUTE FORMAT(
                    'CREATE TABLE %I PARTITION OF transactions FOR VALUES FROM (%L) TO (%L)',
                    partition_name, start_date, end_date
                );
            END IF;
            
            RETURN NEW;
        END;
        $$ LANGUAGE plpgsql;
        
        CREATE TRIGGER transaction_partition_trigger
        BEFORE INSERT ON transactions
        FOR EACH ROW EXECUTE FUNCTION create_transaction_partition();;

CREATE OR REPLACE FUNCTION calculate_account_balance(account_uuid UUID)
        RETURNS NUMERIC AS $$
        DECLARE
            balance NUMERIC;
        BEGIN
            SELECT 
                a.initial_balance + COALESCE(SUM(t.amount_clear), 0)
            INTO balance
            FROM accounts a
            LEFT JOIN transactions t ON t.account_id = a.id
            WHERE a.id = account_uuid
            GROUP BY a.id, a.initial_balance;
            
            RETURN COALESCE(balance, 0);
        END;
        $$ LANGUAGE plpgsql;;

CREATE OR REPLACE VIEW monthly_spending_summary AS
        SELECT 
            t.financial_profile_id,
            DATE_TRUNC('month', t.transaction_date) AS month,
            c.name AS category_name,
            c.id AS category_id,
            COUNT(t.id) AS transaction_count,
            SUM(t.amount_in_profile_currency) AS total_amount,
            AVG(t.amount_in_profile_currency) AS avg_amount
        FROM transactions t
        LEFT JOIN categories c ON t.category_id = c.id
        WHERE t.transaction_type NOT IN ('internal_transfer')
        GROUP BY t.financial_profile_id, DATE_TRUNC('month', t.transaction_date), c.id, c.name;;

CREATE OR REPLACE VIEW net_worth_summary AS
        SELECT 
            fp.id AS financial_profile_id,
            fp.user_id,
            fp.name AS profile_name,
            COALESCE(SUM(a.current_balance), 0) AS total_accounts_balance,
            COALESCE(SUM(CASE WHEN a.account_type IN ('loan', 'mortgage') 
                THEN a.current_balance ELSE 0 END), 0) AS total_liabilities,
            COALESCE(SUM(ast.current_value), 0) AS total_assets_value,
            COALESCE(SUM(a.current_balance), 0) + 
            COALESCE(SUM(ast.current_value), 0) -
            ABS(COALESCE(SUM(CASE WHEN a.account_type IN ('loan', 'mortgage') 
                THEN a.current_balance ELSE 0 END), 0)) AS net_worth
        FROM financial_profiles fp
        LEFT JOIN accounts a ON a.financial_profile_id = fp.id AND a.is_active = true
        LEFT JOIN assets ast ON ast.financial_profile_id = fp.id
        GROUP BY fp.id, fp.user_id, fp.name;;

INSERT INTO alembic_version (version_num) VALUES ('001_initial_schema') RETURNING alembic_version.version_num;

COMMIT;

